@import url('https://fonts.googleapis.com/css?family=Lekton&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: 'Lekton', sans-serif;
    background-color: black;
    color: chartreuse;
    padding: 10vh 10vw;
    border:1px chartreuse dashed;
    min-height: 100vh;
}
input{
    outline: none;
    border: none;
    background-color: transparent;
    color: chartreuse;
    font-family: 'Lekton', sans-serif;
    font-size: 1em;
    display: block;
}
input::placeholder{
    color: chartreuse; 
}
::selection{
    color: black;
    background: chartreuse;
}