@import url('https://fonts.googleapis.com/css?family=Lekton&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: 'Lekton', sans-serif;
    background-color: black;
    color: green;
    padding: 10vh 10vw;
    border:1px green dashed;
    min-height: 100vh;
}
.get_data{
    outline: none;
    border: none;
    background-color: transparent;
    color: green;
    font-family: 'Lekton', sans-serif;
    font-size: 1em;
}